@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
*{
    border:1px solid #000;
}
 body {
    font-family:Abel, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(20, 20, 20);
    height: 200px;
    width: 100vw;
} 

.scrollable a {
    justify-content: space-around;
}

.logo {
    background: url("./img/tech-tales-and-lattes-logo__1_-removebg-preview.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 250px;
    margin: 0 auto;
    align-items: center;
}

.scrollable {
    display: flex;
    height: 60vh;
    width: auto;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    background-color: aliceblue;
}

.sections {
    position: relative;
    margin:0 auto;
    width: 400px;
    margin: auto;
    height: 20em;
    align-items: baseline;
    padding: 10px; /* Add padding to create space between content and border */
}

.first {
    display: flex;
    border: 1px solid black;
    align-items:flex-end;  
    word-wrap: break-word; 
    padding: 10px;  
}

.first {
    display: flex;
    /* flex-direction: column; */
    border: 1px solid black;
    align-items: flex-end;
    word-wrap: break-word;
    padding: 10px;
    transition: width 0.5s ease; /* Added transition for width change */
    width: 300px; /* Set a default width */
}

.first:hover,
.second:hover,
.third:hover {
    transform: scale(110%);
    width: 400px;
    height: 20em;
    transition: ease-in-out 1s;
}



.first::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #fff;
    animation: unroll 1s ease;
    z-index: -1;
}

@keyframes unroll {
    0% {
        width: 0;
    }
    50% {
        width: 150px;
    }
    100% {
        width: 400px;
    }
}

.second {
    width: 100px;
    height: auto;
}

.third {
    width: 100px;
    height: auto;
}

/* .second:hover,
.third:hover {
    transform: scale(110%);
    width: 400px;
    height: 20em;
    transition: ease-in-out 1s;
} */

.blog1 {
    display: flex;
    position: relative;
    align-self: end;
    bottom: 1px;
    width: 100%; /* Set the width to 100% to fit the div */
}

footer {
    font-family: Abel, arial, 'Times New Roman', Times, serif;
    text-align: right;
    margin: 10px;
}

#blog1,#blog2,#blog3 {
    /* position: relative; */
    width: 100%;
    /* top: 10em; */
    left: 0;
    transform: translate(0, -50%);
    /* white-space: nowrap; */
    overflow: hidden;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    margin:0;
}
